<% provide(:title, "contests#index") %>
<div class="contests_index_container">
  <div class="index_title">
    <div class="holding">開催中のコンテスト</div>
    <div class="holded">過去のコンテスト</div>
  </div>
  <%= link_to new_contest_path, class: "new_contest" do %>
    <i class="fas fa-plus"></i>新規コンテスト
  <% end %>
  <!-- contest_index_section -->
  <%= render @contests %>
</div>