<% provide(:title, "contests#index") %>
<div class="contests_index_container">
  <div class="index_title">過去のコンテスト</div>
  <%= link_to new_contest_path, class: "new_contest" do %>
    <i class="fas fa-plus"></i>新規コンテスト
  <% end %>
  <div class="change_contest">
    <span>開催中のコンテストは</span>
    <%= link_to "こちら", contests_path %>
  </div>
  <!-- contests_index_section -->
  <% unless @contests.empty? %>
    <div id="contests_index_section">
      <%= render @contests %>
    </div>
  <% else %>
    <div class="none">過去のコンテストはありません。</div>
  <% end %>
</div>