<% provide(:title, "contests#index") %>
<div class="contests_index_container">
  <div class="index_title">
    <div class="holding">開催中のコンテスト</div>
    <div class="holded">過去のコンテスト</div>
  </div>
  <div class="new_content"><i class="fas fa-plus"></i>新規コンテスト</div>
  <div class="content">
    <div class="posted_date">
      <p class="date_tag">Until,</p>
      <p>2021/04/01</p>
    </div>
    <%= image_tag("/sample/sample11.jpeg", class: "topic_img")%>
    <div class="topic_content">
      <div class="topic_title">星空フォトコンテスト</div>
      <div class="topic_info">星空フォトコンテストを開催します。期限は、2021年4月1日。投稿数は一人一枚まで。投票権は一人三件までとします。また、加工はレタッチまで、切り合わせ加工等は禁止とします。</div>
      <div class="topic_eval">
        <div class="post_num"><i class="fas fa-images"></i>20</div>
      </div>
      <div class="topic_user">
        <%= image_tag("/sample/sample10.jpeg", class: "topic_user_img")%>
        <div class="user_name">Sakai Kenta</div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="posted_date">
      <p class="date_tag">Until,</p>
      <p>2021/04/01</p>
    </div>
    <%= image_tag("/sample/sample11.jpeg", class: "topic_img")%>
    <div class="topic_content">
      <div class="topic_title">星空フォトコンテスト</div>
      <div class="topic_info">星空フォトコンテストを開催します。期限は、2021年4月1日。投稿数は一人一枚まで。投票権は一人三件までとします。また、加工はレタッチまで、切り合わせ加工等は禁止とします。</div>
      <div class="topic_eval">
        <div class="post_num"><i class="fas fa-images"></i>20</div>
      </div>
      <div class="topic_user">
        <%= image_tag("/sample/sample10.jpeg", class: "topic_user_img")%>
        <div class="user_name">Sakai Kenta</div>
      </div>
    </div>
  </div>
</div>