<% provide(:title, "topics#index") %>
<div class="topics_index_container">
  <div class="index_title">トピック一覧</div>
  <%= link_to new_topic_path, class: "new_topic" do %>
    <i class="fas fa-plus"></i>トピックを作成
  <% end %>
  <%= render partial: "topic", collection: @topics %>
</div>