<div class="user">
  <div class="profile_image">
    <%= image_tag user.image.thumb.url %>
  </div>
  <div class="user_info">
    <%= link_to user.name, user_path(user.id), class: "user_name" %>
    <div class="genre_container">
      <% user.genres.each do |genre| %>
        <div class="genre_tag"><%= genre.name %></div>
      <% end %>
    </div>
  </div>
</div>