<% provide(:title, "HOME") %>
<div class="users_show_container">
  <div class="profile_container">
    <%= image_tag("/sample/sample10.jpeg", class: "profile_img")%>
  </div>
  <div class="posts_container">
  </div>
</div>
