<% if post.liked_by?(current_user) %>
  <%= link_to post_like_path(post.id, post.likes.ids), method: :delete, remote: true do %>
    <i class="fas fa-thumbs-up like"></i>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
    <i class="fas fa-thumbs-up unlike"></i>
  <% end %>
<% end %>
<span><%= post.likes.count %></span>