<% provide(:title, "posts#index") %>
<div class="posts_index_container">
  <!-- selecter section -->
  <div class="select_container">
    <div class="index_select">
      <%= link_to "全ての投稿", posts_path, class: " all_posts select_off" %>
      <div class="select_on">フォローユーザーの投稿</div>
    </div>
    <div class="index_form">
    </div>
  </div>
  <!-- posts display section -->
  <%= render "shared/posts_index", posts: @posts %>
</div>
<!-- new post btn -->
<%= link_to new_post_path, id: "new_post" do %>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div id="mask" class="hidden"></div>
<div id="modal" class="hidden"></div>