@import "variables";

/* default */
html, body {
  overflow: auto;
  height: 100%;
}
body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 300;
  .body_container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

a{
  text-decoration: none;
}

/* header */
.header{
  margin-bottom: 2rem;
  .header_title{
    text-align: center;
    height: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
    .header_maintitle{
      font-family: "Lora", serif;
      font-size: 1.8rem;
      font-weight: lighter;
      text-decoration: none;
      color: black;
    }
    .header_sentence{
      font-size: 0.8rem;
      color: gray;
      font-weight: lighter;
    }
  }
  .header_link{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 1rem 0.5rem;
    a{
      font-size: 0.8rem;
      font-weight: lighter;
      color: gray;
      margin: 0 0.5rem;
      text-decoration: none;
      &:hover{
        color: black;
        font-weight: bold;
      }
    }
    .link_left{

    }
    .link_right{

    }
  }
}

/* miscellaneous */
.debug_dump {
  width: 100%;
  margin-top: 5rem;
  border: 1px dashed;
  padding: 1rem;
}

/* error_messages style */
#error_explanation{
  li{
    color: red;
  }
}