@import "variables";

.marker_silk{
  background: linear-gradient(transparent 60%, $silk 0%);
  font-weight: 500;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.marker_silk2{
  border-bottom: solid 2px $silk;
  font-weight: 500;
  padding-left: 0.5rem;
}

.bold{
  font-weight: bold;
  padding: 0 0.5rem;
}

.genre_container{
  display: flex;
  margin-top: 0.5rem;
  .genre_tag{
    font-size: 0.8rem;
    margin-right: 0.5rem;
    border: solid 1px;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
  }
}

.check_flex_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .check_container{
    width: 25%;
    height: 2rem;
    line-height: 2rem;
    .check_box{
      display: inline-block;
      width: 2rem;
    }
    .check_text{
      display: inline-block;
    }
  }
}

.new_post{
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(calc(-50% - 7px));
  .post_btn{
    background-color:rgba(255,255,255,0.6);
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    &:hover{
      background-color:rgba(255,255,255,0.8);
      transition: 0.2s;
    }
    i{
      display: block;
      margin: auto;
      line-height: 5rem;
      font-size: 2rem;
      color: black;
    }
  }
}

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

