// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixin";

/* users#show */
.users_show_container{
  .profile_container{
    width: 600px;
    margin: 0 auto;
    .upper_item{
      display: flex;
      margin-bottom: 2rem;
      img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
      }
      .right_item{
        width: 300px;
        margin-left: 50px;
        .user_name{
          font-size: 2rem;
          margin: 2rem 0 1rem;
        }
        .user_prize{
          line-height: 1.5rem;
          display: flex;
          margin-bottom: 1rem;
          .prize{
            margin-right: 1.5rem;
            i{
              font-size: 1.5rem;
              vertical-align: middle;
              margin-right: 0.5rem;
              &.gold{
                color: gold;
              }
              &.silver{
                color: silver;
              }
              &.blonze{
                color: brown;
              }
            }
          }
        }
        .user_info{
        }
        .follow_btn{
          span{
            display: inline-block;
            background-color: $silk;
            color: white;
            padding: 2px 5px;
            margin-top: 1rem;
            margin-right: 1rem;
            border-radius: 5px;
            font-weight: bold;
          }
          i{
            color: $silk;
          }
        }
      }
    }
    .lower_item{
      .content{
        margin: 0.5rem;
      }
      .user_genre{
        margin-bottom: 2rem;
      }
      .user_camera{
        margin-bottom: 2rem;
        .camera_tag{
        }
      }
    }
    .comment{
      white-space: pre-wrap;
      background-color: $paper;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 2rem;
    }
  }
  .posts_container{
    @include posts_container_style
  }
  .new_post{
    @include new_post_style
  }
}
