// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

/* users#show */
.users_show_container{
  .profile_container{
    width: 600px;
    margin: 0 auto;
    .upper_item{
      display: flex;
      margin-bottom: 2rem;
      img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
      }
      .right_item{
        width: 300px;
        margin-left: 50px;
        .user_name{
          font-size: 2rem;
        }
      }
    }
    .lower_item{
      .content{
        margin: 0.5rem;
      }
      .user_genre{
        margin-bottom: 2rem;
      }
      .user_camera{
        .camera_tag{
        }
      }  
    }
  }
}
